---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import { Image } from 'astro:assets';

import index1 from '../assets/index1.jpg';
---

<Layout 
	title =""
	description =""
>
<section class="relative overflow-hidden  pt-16 pb-8 lg:pt-16 lg:pb-16">
	<div class="container mx-auto px-4">
		<div class="flex flex-col lg:flex-row items-center gap-12">
		
			<div class="flex-1 text-center z-10">
				<Badge text="Cabinet d'infirmiers libéral à domicile · Castanet-Tolosan" />
				<h1 class="font-serif text-4xl md:text-5xl lg:text-6xl text-slate-900 leading-tight mb-6">
				Des soins infirmiers <br class="hidden md:block" />
					<span class="italic text-button-1">à domicile</span>
				</h1>
				<p class="font-sans text-lg text-slate-600 mb-4 max-w-2xl mx-auto">
				Erika et Mathieu vous accompagnent au quotidien pour vos soins à domicile. nous intervenons sur Castanet-Tolosan et ses communes limitrophes.
				</p>
				<p class="font-sans text-lg text-slate-600 mb-4 max-w-2xl mx-auto">Disponible 7 jours sur 7 (dimanches et jours fériés compris), tout au long de la journée.</p>
				<p class="font-sans text-lg text-slate-600 mb-10 max-w-2xl mx-auto">Nous assurons tout type de soin sur prescription médicale</p>
				
				<div class="flex flex-col sm:flex-row justify-center lg:justify-center gap-4">
					<a href="/contact" class="btn btn-lg bg-button-1 hover:bg-button-hover-1 text-white rounded-full border-none px-8 transition-transform hover:scale-105 shadow-lg">
						📅 Contactez-nous
					</a>
					<a href="tel:0600000000" class="btn btn-lg btn-ghost rounded-full border-slate-300 hover:bg-slate-100 text-slate-700">
						📞 06 69 33 65 38
					</a>
				</div>
				<div class="max-w-4xl mx-auto mt-8">
                    <Image
                        src={index1}
                        alt="Illustration stéthoscope"
                        width={1200} 
                        height={675}
                        class="rounded-3xl shadow-2xl w-full h-auto object-cover"
                        loading="eager"
                    />
                </div>
			</div>

		</div>
	</div>
</section>
</Layout>
