---
import Layout from "../layouts/Layout.astro";
---
<Layout
    title ="Mentions Légales | Cabinet Infirmier Delherm"
	description ="Informations légales concernant l'édition du site web du Cabinet Infirmier Delherm à Castanet-Tolosan."
>
    <h1>Mentions légales</h1>
</Layout>