---
import Layout from "../layouts/Layout.astro";
---
<Layout
    title ="Politique de Confidentialité | Cabinet Infirmier Delherm"
	description ="Informations sur la protection de vos données personnelles et le respect du secret médical par le Cabinet Infirmier Delherm."
>
    <h1>Politiques de confidentialité</h1>
</Layout>